body {
    font-family: 'Montserrat', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}

.container .bg-primary {
    height: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.container.shadow.px-5.pb-5 {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h2.text-white.text-center {
    padding-top: 2rem !important;
}

div.container.my-5 {
    border-radius: 20px;
}