{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

                   <!-- Scroll Reveal -->

      <script src="https://unpkg.com/scrollreveal"></script>
   
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
      crossorigin="anonymous"
    />



                       <!-- CSS -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

             <!-- Font Awesome -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

    <title>Invoice</title>
  </head>

  <body>

   
   <!-- Self Employed and Big Agency-->

   <!-- Header Begins-->

   <div class="container  p-3 px-md-4 mb-3 navbar navbar-light  navbar-expand-lg  navbar-css  brand-logo">

    <a href="#" class="navbar-brand nav-logo"><span class="logo"><b>INVATOR</b></span> </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#myNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="myNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-item-css"><a href="#" class="nav-link nav-link-css">Home</a></li>
        <li class="nav-item nav-item-css"><a href="{% url 'invator:invoice' %}" class="nav-link nav-link-css">Invoice</a>
        </li>
        <li class="nav-item nav-item-css">
          <a href="{% url 'invator:dashboard' %}" class="nav-link nav-link-css">Dashboard</a>
        </li>
         <li class="nav-item nav-item-css">
          <a href="{% url 'invator:contact' %}" class="nav-link nav-link-css">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

   <!-- Header Ends-->


 <!-------------Header ends here-------------->
    
 <div class="container"><hr><br><br>
  <div class="text-right">
    <a class="btn try-it-btn no-deco adds" role="button" onclick="myFunction()"><span>Dark/Light Mode</span></a>

  </div>
 
  <div class="row">

      <div class="col-md-6">
          <img src="{% static 'imgs/invoice2.png' %}" class="img-fluid shad">
      </div>

      <div class="col-md-6 ">
          <br><h2 class="get-started adj">A quick and easy way <br>to get an invoice</h2><br>
          <p>Create your invoice in few steps.   <br> Download and print in images, PDF, <br> Excel or Microsoft document.</p><br>
          <p>Join thousands of freelancers</p><br>
          <a href="{% url 'invator:invoice' %}" class="no-deco changs"><button class="text-white btn-block">Create your Free Invoice</button></a>
      </div>
  </div><br>

  <div class="jumbotron">
  <div class="row mb-2">
      <div class="col-md-2"></div>
      <div class="col-md-8">
              <br><br>
          <h2>Get Your Free Invoice</h2> <br>

          <p>You’ve put together a great business for your client and you want to top it up with a great invoice finish. How do you make this happen?<br><br>

          With INVATOR invoice template, you can invoice your clients with just a download and a few keystrokes. Create invoices that are detailed and professional by using the free INVATOR invoice sample as your guide. <br><br>

          Simply download the template below and fill in your information. You will have your invoice finished and sent out in minutes. Find the right format for your business. </p><br>

          <p><small>Available for download in .PDF, .XLS, .DOC and PNG formats.</small>
          </p>
      </div>
  </div>
  </div>
   <!-- Download Template -->

    <div class="container mt-5">
      <div class="row">
          <div class="col-sm-4">
             <h2 class="get-started card-title mb-4 text-center">Order
           Template</h2>
        <div>
          <img class="card-img-top shad" src="{% static 'imgs/Invoice2-1.png' %}"  class="thumbnail" style="height: 320px;" alt="Card image cap">
          <div class="card-body text-center">
            <p class="card-text">You can download or modify an order template</p>
            <a href="#" class="btn learn-more-btn">Download</a>
          </div>
        </div>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <h2 class="get-started card-title mb-4 text-center">Invoice Templates</h2>
           <div>
             <img class="card-img-top shad" src="{% static 'imgs/Invoice3-1.png' %}" style="height: 320px;" alt="Card image cap">
             <div class="card-body text-center">
               <p class="card-text">You can download or modify an Invoice template</p>
               <a href="#" class="btn learn-more-btn">Download</a>
             </div>
           </div>
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <h2 class="get-started card-title mb-4 text-center">Bill Templates</h2>
           <div>
             <img class="card-img-top shad" src="{% static 'imgs/Invoice2-1.png' %}" style="height: 320px;" alt="Card image cap">
             <div class="card-body text-center">
               <p class="card-text">You can download or modify a bill template</p>
               <a href="#" class="btn learn-more-btn">Download</a>
             </div>
           </div>
          </div>
          <!-- /.col-sm-4 -->
     </div>
     <!-- /.row -->
   </div>
   <!--End of Download Template -->
  
<!---    Are You a Freelencer Section-->

   <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        
        <h2 class="get-started card-title mb-4 text-center">Are You A Financial<br>
           Team Lead?</h2>
        <div>
          <img class="card-img-top" src="{% static 'imgs/team.jpg' %}" style="height: 360px;" alt="Card image cap">
          <div class="card-body text-center">
            <p class="card-text">Your team relies on you, so you need accounting software that lets you focus your attention on what matters most. With INVATOR invoice, you’ll save valuable time that you can spend creating invoice for your business.</p>
            <a href="#" class="btn learn-more-btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 who-we-are-for-card">
        
        <h2 class="get-started card-title mb-4 text-center">Are You A <br>Freelancer?</h2>
        <div class="card-v">
          <img class="card-img-top" src="{% static 'imgs/selfemplyed.jpg' %}" style="height: 360px;" alt="Card image cap">
          <div class="card-body text-center">
            <p class="card-text">Stop wasting precious time creating invoices, following up on payments and trying to figure out where your business stands. INVATOR invoice makes invoicing painless and easy</p>
            <a href="#" class="btn learn-more-btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
<!--End of Are You a freelencer section-->


                          <!-- Mobile App -->

                          <div class="container mt-5 mb-3">
                            <div class="row">
                              <div class="col-md-6 p-3">

                                <h1 class="get-started mt-4 pt-5">We are Available in all Devices</h1>
                                <p>Keep tabs on your business no matter where you are. INVATOR invoice got you covered. You can capture your expenses and Create invoices on our website or mobile app.</p>

                          </div>
                              <!-- /.col-sm-6 -->
                              <div class="col-md-6">
                                <img src="{% static 'imgs/all devicess.jpg' %}" style="width: 100%;" alt="">
                              </div>
                              <!-- /.col-sm-6 -->
                            </div>
                            <!-- /.row -->
                           </div>
                           <!-- /.container -->
                        

                        <!-- Mobile App End-->




                        <!-- Testimony section-->
                        <div class="jumbotron">
                        <div class="container mt-5">
                          <h1 class="text-center">What Freelancer Are Saying</h1>
                        </div>

                            <div id="carouselExampleIndicators" class="carousel slide container show-bottom" data-ride="carousel">
          
                              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><img src="{% static 'imgs/small-images.jpg' %}" alt="..."></li>
                                  <li data-target="#carousel-example-generic" data-slide-to="1"><img src="{% static 'imgs/Ellipse 12.png' %}" alt="..."></li>
                                  <li data-target="#carousel-example-generic" data-slide-to="2"><img src="{% static 'imgs/Ellipse 14.png' %}" alt="..."></li>
                                </ol>
                                 <!-- Indicators End -->
                
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <div class="d-bock w-100 p-5 text-center">
                                    
                                    <i class="fa fa-quote-left mb-3" aria-hidden="true"></i>
                                    <p>This is one of the best invocing software so far. This helps me in my Freelancer business Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusamus totam ullam perferendis, ea illum amet autem nemo voluptas nihil!</p>
                                    <p class="text-center font-weight-bolder w-10">Justina Jack</p>
                                    <small class="text-center creative-director-text mb-5">CREATIVE DIRECTOR</small>
                                  </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="d-bock w-100 p-5 text-center">
                                    <i class="fa fa-quote-left mb-3" aria-hidden="true"></i>
                                  <p>This is our of the best software Paynergy is using for all financial transactions Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam neque fugiat quae maxime facere sapiente accusantium. Ex id quod sequi!</p>
                                  <p class="text-center font-weight-bolder w-10">Seyi Jackman</p>
                                  <small class="text-center creative-director-text mb-5">CREATIVE DIRECTOR</small>
                                </div>
                                </div>
                                <div class="carousel-item">
                                  <div class="d-bock w-100 p-5 text-center">
                                    <i class="fa fa-quote-left mb-3" aria-hidden="true"></i>
                                    <p>This is one of the best invocing software so far. This helps us in our travel agency businessLorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusamus totam ullam perferendis, ea illum amet autem nemo voluptas nihil!</p>
                                    <p class="text-center font-weight-bolder w-10">Isaac Sage</p>
                                    <small class="text-center creative-director-text mb-5">SAGETRAVELS</small>
                                  </div>
                                </div>
                              </div>
                                
                              <!-- Carousel Buttons Next/Prev -->
                      
                              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                          </div>
                          </div>
    
                            <!-- Testimonies End-->
    


     
                            <!-- Customers Support -->

                            <div class="container mt-1">
                              <div class="row">
                                <div class="col-md-6">
                                  <img src="{% static 'imgs/team successs.jpg' %}" style="width: 100%;" alt="">
                                </div>
                                <!-- /.col-sm-6 -->
                                <div class="col-md-6 p-3">

                                      <h1 class="get-started">Award-Winning Support Team</h1>
                                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam eum accusantium quidem fugit ipsum ea! Accusantium, saepe cupiditate praesentium optio aliquid quos. Eligendi ullam odio eum delectus quae porro repellendus veritatis nesciunt ipsa tenetur enim eaque quam debitis, quia facilis necessitatibus minus numquam natus? Illo ea rerum laborum architecto aut.</p>
                                      <p class="font-weight-bold">Contact us today</p>
                                      <p><i class="fa fa-phone" aria-hidden="true"></i> 08135146188</p>
                                      <p><i class="fa fa-envelope" aria-hidden="true"></i> callcenter@invoice.com</p>
                
                                </div>
                                <!-- /.col-sm-6 -->
                              </div>
                              <!-- /.row -->
                             </div>
                             <!-- /.container -->

                              <!-- Customers Support End Here-->

                  <!--- Get started for free today -->
    <section>
        <div style="background:transparent !important" class="jumbotron container text-center">
            <h1 class="get-started">Get started for free today.</h1>
            <p>No credit card required.</p>
            <p>
              <a class="btn try-it-btn btn-lg" role="button"><span>Try It. It's Free</span></a>
            </p>
        </div>
    </section>

<!--- Get started for free today END-->


                           
<!--  footer-->
       </div>              
<footer>
   <div class="container show-right">
     <div class="row">
       <div class="col-md-4 d-flex justify-content-center">
         <div class=" p-2 text-primary">2020 RS. All rights reserved.</div>
       </div>
       <div class="col-md-4">
       </div>
       <div class="col-md-4 d-flex justify-content-center">
         <!--<div class="p-2"> <a href="#"><img src="./assets/Images/download-google-play.svg"></a></div>
         <div class="p-2"> <a href="#"><img src="./assets/Images/download-google-play.svg"></a></div>-->
         <div class="p-2"><a href="#"><img src="{% static 'imgs/Vector (27).png' %}"></a></div>
         <div class="p-2"><a href="#"><img src="{% static 'imgs/Vector (26).png' %}"></a></div>
         <div class="p-2"><a href="#"><img src="{% static 'imgs/Vector (25).png' %}"></a></div>
       </div>
     </div>
   </div>
 
 
 </footer>

<!--
      <script>
        window.sr = ScrollReveal();
        sr.reveal('.navbar', {
          duration: 2000,
          origin: 'top',
          distance: '10px'
        });
  
        sr.reveal('.card', {
          duration: 2000,
          origin: 'left',
          distance: '10px'
        });
        sr.reveal('.show-left', {
          duration: 2000,
          origin: 'left',
          distance: '10px'
        });
        
        sr.reveal('.show-right', {
          duration: 2000,
          origin: 'right',
          distance: '10px'
        });
  
        sr.reveal('.show-bottom', {
          duration: 2000,
          origin: 'bottom',
          distance: '10px'
        });
  
        
      </script>
-->
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    
<script>
  function myFunction() {
     var element = document.body;
     element.classList.toggle("dark-mode");
  }
  </script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
  </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>