<!DOCTYPE html>
<html lang="en">
    {% load static %}
 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'invoice-style.css' %}">
	<link rel="stylesheet" href="{% static 'invoice-nav.css' %}">
	 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}

    <script>
    $(document).ready(function(){
     $("#preview").click(function(event){
      event.preventDefault();
    var invoice_title = $("#invoice_title").val();
    var brand_name = $("#brand_name").val();
    var from_email = $("#from_email").val();
    var from_address = $("#from_address").val();
    var from_phone = $("#from_phone").val();
    var to_full_name = $("#to_full_name").val();
    var to_email = $("#to_email").val();
    var to_address = $("#to_address").val();
    var to_phone = $("#to_phone").val();
    var tax = $("#tax").val();
    var invoice_number = $("#invoice_number").val();
    var account_number = $("#account_number").val();
    var date = $("#date").val();
    var notes = $("#notes").val();
    var data=$('#myform').serializeArray();
    console.log(data);

$.ajax({

    type: "POST",
    url: window.location.protocol + "//" + window.location.host +"/invoice_data/",
    data: {       csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                json_data: JSON.stringify({ data: data })
    },
    success: function(response) {
$(".error_message").html(response);
console.log(response);
    },
    error: function(response) {

     }       

            
            });



     });   
    });
</script>


 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'invoice-style.css' %}">
    <link rel="stylesheet" href="{% static 'main-nav.css' %}">

</head>
 
<body>
  	<!--  -->
	<header class="header ">
		<nav class="navbar navbar-expand-lg fixed-top py-3 ">
			<div class="container">
				<a href="#" class="navbar-brand deafult font-weight-bold"><img style="height: 40px;" src="img/Group 124 (2).png" alt=""></a>
				<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

				<div id="navbarSupportedContent" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a href="{% url 'invator:homepage' %}" class="nav-link font-weight-bold">HOME <span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a href="{% url 'invator:contact' %}" class="nav-link  font-weight-bold">CONTACT US</a></li>
						<li class="nav-item"><a href="{% url 'login' %}" class="nav-link font-weight-bold">LOGIN</a></li>
					</ul>
					<div class="center">
						<button type="button" class="btn btn-primary btn-md px-4 ml-4 mt-2">SIGN UP</button>

					</div>

				</div>
			</div>
		</nav>
	</header>

	<!--  -->
	<section class="mt-7">
		<form method="POST">
			{% csrf_token %}
			<div class="container pt-3">
				<a class="btn btn-actions">
					<i class=" fa fa-print" aria-hidden="true"></i><span class="ml-2">Print</span></a>
				<!-- <i class="fas fa-print mr-1"></i> -->
				<a class=" btn btn-actions"><i class="  fa fa-file-pdf-o" aria-hidden="true"></i><span class="ml-2">PDF</span>
			</a>
			</div>

			<div class="container pt-5 ">
				<div class=" bg-primary shadow">
					<h2 class="text-white text-center"> </h2>
				</div>
				<div class="container shadow px-5 pb-5">
					<div class="pt-5" role="">
						<div class="row">
							<!--
							<div class="col-md-6 col-xs-12 form-group">
								<div class="dropzone-symbols  text-left"><img id="image_upload_preview" src="https://res.cloudinary.com/identityseal/image/upload/v1596127378/logoPlaceHolder_lvhnvd.png" style="height: 100px; width:100px;" class="  ">
								</div>
								 <label for="exampleFormControlFile1">Logo</label> 
								<input type="file" class="mt-3 form-control-file" id="inputFile">
							</div>-->

							<div class="col-md-6 col-xs-12 form-group ">
								<label for="">Title of Invoice</label>

								<input type="text" name="invoice_title" id="invoice_title" class="w-50 form-control" placeholder="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-xs-12 mt-5">
							<div class="mr-sm-0 mr-md-5">
								<h4> From </h4>
								<div class="pt-2 form-group">
									<label for="exampleFormControlFile1">Name</label>

									<input id="brand_name" name="brand_name" type="text" class="form-control" placeholder="Business Name" minlength="6" required>
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Email</label>

                                    <input id="from_email" name="from_email" type="text" class="form-control" placeholder="name@business.com" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                </div>
                                <div class=" form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Address</label>

                                    <input id="from_address" name="from_address" type="text " class="form-control " placeholder="Street ">
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Phone</label>

                                    <input id="from_phone" name="from_phone" type="text " class="form-control " placeholder="(123) 454-4543 ">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-xs-12 mt-5 ">
							<div class="ml-sm-0 ml-md-5 ">
								<h4> Bill To</h4>
								<div class="form-group pt-2 ">
									<label for="exampleFormControlFile1 ">Name</label>

									<input id="to_full_name" name="to_full_name" type="text " class="form-control " placeholder="Client Name " minlength="6" required>
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Email</label>

                                    <input id="to_email" name="to_email" type="text " class="form-control " placeholder="name@business.com " required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Address</label>

                                    <input id="to_address" name="to_address" type="text" class="form-control" placeholder="Street">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Phone</label>

                                    <input id="to_phone" name="to_phone" type="text" class="form-control" placeholder="(123) 454-4543">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="container shadow my-5 py-5">

					<table class="table">
						<thead>
							<tr class="item-row">
								<th>Description</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr class="item-row">
					<td><input class="form-control item" placeholder="Description" type="text"></td>
					<td><input class="form-control price" placeholder="Price" type="text"></td>
					<td><input class="form-control qty" placeholder="Hours" type="text"></td>
					<td><span class="total">0.00</span></td>
				</tr> -->
							<tr class="item-row">
                                <td class="item-name">
                                    <div class="delete-btn"><input name="item" type="text" class="form-control item" placeholder="Desc"><a class="delete" href="javascript:;" title="Remove row" style="display: none;">X</a></div>
                                </td>
                                <td><input  name="price" class="form-control price" placeholder="0.00" type="text" value="300"> </td>
                                <td><input name="quantity" class="form-control qty" placeholder="0" type="text" value="1"></td>
                                <td><span class="total">0.00</span></td>
                            </tr>
                            <tr id="hiderow">
                                <td colspan="4">
                                    <a id="addRow" href="javascript:;" title="Add a row" class="btn btn-primary">&#x0002B;</a>
                                </td>
                            </tr>
							<!-- Here should be the item row -->
							<!--<tr class="item-row">
				<td><input class="form-control item" placeholder="Item" type="text"></td>
				<td><input class="form-control price" placeholder="Price" type="text"></td>
				<td><input class="form-control qty" placeholder="Quantity" type="text"></td>
				<td><span class="total">0.00</span></td>
			</tr>-->
							<tr>
								<td></td>
								<td></td>
								<td class="text-right"><strong>Sub Total</strong></td>
								<td><span id="subtotal">0.00</span></td>
							</tr>
							<tr>
								<td><strong>Total Qty: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span> Qty</td>
								<td></td>
								<td class="text-right"><strong>Tax Percentage %</strong></td>
								<td><input id="tax" name="tax" class="form-control" id="discount" value="0" type="number"></td>
							</tr>
							<!-- <tr>
					<td></td>
					<td></td>
					<td class="text-right"><strong>Shipping</strong></td>
					<td><input class="form-control" id="shipping" value="0" type="text"></td>
				</tr> -->
							<tr>
								<td></td>
								<td></td>
								<td class="text-right"><strong>Grand Total</strong></td>
								<td><span id="grandTotal">0</span></td>
							</tr>
						</tbody>
					</table>



				</div>

				<div class="container my-5 shadow py-5 px-5">
					<div class="row">
						<div class="col-md-6">
							<div class="mr-md-5">
								<div class="form-group">
									<label for="exampleFormControlFile1">Invoice No</label>

									<input class="form-control" style="width: 100%;" name="invoice_number" id="invoice_number" rows="10" placeholder="" />

                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Account No</label>

                                    <input name="account_number" class="form-control" style="width: 100%;" name="account_number" id="account_number" rows="10" placeholder="" />

                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Date </label>

                                    <!-- <input  id="invoiceDate" class="mt-2 invoiceCreation__date " /> -->

                                    <input type="date" class="form-control" style="width: 100%;" name="date" id="date" rows="10" placeholder="Note" aria-describedby="insert invoice Date" />

								</div>
							</div>


						</div>
						<div class="col-md-6">
							<div class="pl-md-5">
								<div class="form-group">
									<label for="exampleFormControlFile1">Notes</label>
									<textarea class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="Notes - any relevant information not covered, additional terms and conditions"></textarea>

								</div>
							</div>
						</div>
					</div>
					<div class="pt-4"> <button type="submit" id="" class="btn btn-outline-primary">Create Invoice</button>

						 <a id="preview"><button style="float: right;" type="button"  class="btn btn-primary text-right">Preview</button></a>
					</div>

				</div>
	</form>
	</section>

	<footer class="containter-fluid bg-primary ">
		<div class="container py-5">
			<hr style="border: 1px solid #fff;" class="">
			<p class="text-white text-center"> <i class="fa fa-copyright
				"></i> 2020 Invato Inc </p>
		</div>

	</footer>


	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js "></script>

	<script>
		jQuery(document).ready(function() {
			jQuery().invoice({
				addRow: "#addRow",
				delete: ".delete",
				parentClass: ".item-row",

				price: ".price",
				qty: ".qty",
				total: ".total",
				totalQty: "#totalQty",

				subtotal: "#subtotal",
				discount: "#discount",
				grandTotal: "#grandTotal"
			});
		});
	</script>

	<script src="{% static 'js/invoice-gen-app.js' %}"></script>


    <!--  -->
    <header class="header ">
        <nav class="navbar navbar-expand-lg fixed-top py-3 ">
            <div class="container">
                <a href="#" class="navbar-brand deafult font-weight-bold"><img style="height: 40px;" src="img/Group 124 (2).png" alt=""></a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="{% url 'invator:homepage' %}" class="nav-link font-weight-bold">HOME <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link font-weight-bold">LOGIN</a></li>
                        <li class="nav-item"><a href="{% url 'invator:contact' %}" class="nav-link  font-weight-bold">CONTACT US</a></li>
                        <!-- <li class="nav-item"><a href="#" class="nav-link font-weight-bold">CONTACT</a></li> -->
                    </ul>
                    <div class="center">
                        <button type="button" class="btn btn-primary btn-md px-4 ml-4 mt-2">SIGN UP</button>

                    </div>


   <!--  -->
    <header class="header ">
        <nav class="navbar navbar-expand-lg  py-3 ">
            <div class="container">
                <a href="#" class="navbar-brand deafult font-weight-bold"><img style="height: 40px;" src="{% static 'imgs/Group 124 (2).png'%}" alt=""></a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
 
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="{% url 'invator:homepage' %}" class="nav-link font-weight-bold">HOME <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="{% url 'invator:dashboard' %}" class="nav-link font-weight-bold">Dashboard</a></li>
                    </ul>
                    <div class="center">
                            
                            {% if user.is_authenticated %}
                                
                            {% else %}
                                
                            
                                
                        <a href="{% url 'register' %}"><button type="button" class="btn btn-primary btn-md px-4 ml-4 mt-2">SIGN UP</button></a>
                        {% endif %}
 
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <!--  -->
    <section class="mt-7">
        <form method="POST">
            {% csrf_token %}
            <div class="container pt-3">
                <!-- <a class="btn btn-actions">
                    <i class=" fa fa-print" aria-hidden="true"></i><span class="ml-2">Print</span></a>
                 <i class="fas fa-print mr-1"></i> -->
                <a class=" btn btn-actions"><i class="  fa fa-file-pdf-o" aria-hidden="true"></i><span class="ml-2">PDF</span>
                              </a> -->
            </div>


                </a>
            </div>

            <div class="container pt-5 ">
                <div class=" bg-primary shadow">
                    <h2 class="text-white text-center"> </h2>
                </div>
                <div class="container shadow px-5 pb-5">
                    <div class="pt-5" role="">
                        <div class="row">
                            <!-- <div class="col-md-6 col-xs-12 form-group">
                                <div class="dropzone-symbols  text-left"><img id="image_upload_preview" src="https://res.cloudinary.com/identityseal/image/upload/v1596127378/logoPlaceHolder_lvhnvd.png" style="height: 100px; width:100px;" class="  ">
                                </div> -->
                                <!-- <label for="exampleFormControlFile1">Logo</label> -->
                                                          <!-- <input type="file" class="mt-3 form-control-file" id="inputFile"> -->
                            <!-- </div> -->

                            <div class="col-md-6 col-xs-12 form-group ">
                                <label for="">Title of Invoice</label>

                                <input type="text" class="w-50 form-control" placeholder="">

                                <!--input type="file" class="mt-3 form-control-file" id="inputFile">
                            </div-->
                                </div>
                                <!-- <label for="exampleFormControlFile1">Logo</label> 
                                <input type="file" class="mt-3 form-control-file" id="inputFile">
                            </div -->
 
                            <div class="col-md-6 col-xs-12 form-group ">
                                <label for="">Title of Invoice</label>
 
                                <input name="title" type="text" class="w-50 form-control" placeholder="">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 mt-5">
                            <div class="mr-sm-0 mr-md-5">
                                <h4> From </h4>
                                <div class="pt-2 form-group">
                                    <label for="exampleFormControlFile1">Name</label>
                                  
                                    <input type="text" name="from_full_name" class="form-control" placeholder="Business Name" minlength="6" required>
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Email</label>

                                    <input type="text" name="from_email" class="form-control" placeholder="name@business.com">
                                </div>
                                <div class=" form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Address</label>

                                    <input type="text" name="from_address" class="form-control " placeholder="Street ">
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Phone</label>

                                    <input type="text" name="from_phone" class="form-control " placeholder="(123) 454-4543 ">

 
                                    <input name="from_full_name" type="text" class="form-control" placeholder="Business Name" minlength="6" required>
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Email</label>
 
                                    <input name="from_email" type="text" class="form-control" placeholder="name@business.com" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                </div>
                                <div class=" form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Address</label>
 
                                    <input name="from_address" type="text " class="form-control " placeholder="Street ">
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Phone</label>
 
                                    <input name="from_phone" type="text " class="form-control " placeholder="(123) 454-4543 ">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 mt-5 ">
                            <div class="ml-sm-0 ml-md-5 ">
                                <h4> Bill To</h4>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Name</label>
                                  
                                    <input type="text " name="to_name" class="form-control " placeholder="Client Name " minlength="6" required>
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Email</label>

                                    <input type="text " name="to_email" class="form-control " placeholder="name@business.com ">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Address</label>

                                    <input type="text" name="to_address" class="form-control" placeholder="Street">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Phone</label>

                                    <input type="text" name="to_phone" class="form-control" placeholder="(123) 454-4543">

 
                                    <input name="to_name" type="text " class="form-control " placeholder="Client Name " minlength="6" required>
                                </div>
                                <div class="form-group pt-2 ">
                                    <label for="exampleFormControlFile1 ">Email</label>
 
                                    <input name="to_email" type="text " class="form-control " placeholder="name@business.com " required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Address</label>
 
                                    <input name="to_address" type="text" class="form-control" placeholder="Street">
                                </div>
                                <div class="form-group pt-2">
                                    <label for="exampleFormControlFile1">Phone</label>
 
                                    <input name="to_phone" type="text" class="form-control" placeholder="(123) 454-4543">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="container shadow my-5 py-5">

                    <table class="table">
                        <thead>
                            <tr class="item-row">
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="item-row">
                    <td><input class="form-control item" placeholder="Description" type="text"></td>
                    <td><input class="form-control price" placeholder="Price" type="text"></td>
                    <td><input class="form-control qty" placeholder="Hours" type="text"></td>
                    <td><span class="total">0.00</span></td>
                </tr> -->
                            <tr class="item-row">
                                <td class="item-name">
                                    <div class="delete-btn"><input type="text" name="item" class="form-control item" placeholder="Desc"><a class="delete" href="javascript:;" title="Remove row" style="display: none;">X</a></div>
                                </td>
                                <td><input name="price" class="form-control price" placeholder="0.00" type="text" value="300"> </td>
                                <td><input name="quantity" class="form-control qty" placeholder="0" type="text" value="1"></td>
                                <td><span name="total" class="total">0.00</span></td>
                            </tr>
                            <tr id="hiderow">
                                <td colspan="4">
                                    <a id="addRow" href="javascript:;" title="Add a row" class="btn btn-primary">&#x0002B;</a>

                            </tr> -->
                            <tr class="item-row">
                                <td class="item-name">
                                    <div class="delete-btn"><input name="item" type="text" class="form-control item" placeholder="Desc"><a class="delete" href="javascript:;" title="Remove row" style="display: none;">X</a></div>
                                </td>
                                <td><input name="price" class="form-control price" placeholder="0.00" type="text" value="300"> </td>
                                <td><input name="quantity" class="form-control qty" placeholder="0" type="text" value="1"></td>
                                <td><span class="total">0.00</span></td>
                            </tr>
                            <tr id="hiderow">
                                <td colspan="4">
                                    <a id="addRow" href="javascript:;" title="Add a row" class="btn btn-primary">+</a>

                                </td>
                            </tr>
                            <!-- Here should be the item row -->
                            <!--<tr class="item-row">
                <td><input class="form-control item" placeholder="Item" type="text"></td>
                <td><input class="form-control price" placeholder="Price" type="text"></td>
                <td><input class="form-control qty" placeholder="Quantity" type="text"></td>
                <td><span class="total">0.00</span></td>
            </tr>-->
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Sub Total</strong></td>
                                <td><span id="subtotal">0.00</span></td>
                            </tr>
                            <tr>
                                <td><strong>Total Qty: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span> Qty</td>
                                <td></td>
                                <td class="text-right"><strong>Tax Percentage %</strong></td>
                                                              <td><input class="form-control" id="discount" name="tax" type="text"></td>

                                <td><input name="tax" class="form-control" id="discount" value="0" type="text"></td>

                            </tr>
                            <!-- <tr>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Shipping</strong></td>
                    <td><input class="form-control" id="shipping" value="0" type="text"></td>
                </tr> -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Grand Total</strong></td>
                                <td><span id="grandTotal">0</span></td>
                            </tr>
                        </tbody>
                    </table>
                  

                </div>


 
 
 
                </div>

                <div class="container my-5 shadow py-5 px-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mr-md-5">
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Invoice No</label>
                                  
                                    <input class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="" />

                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Account No</label>

                                    <input name="account_number" class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="" />

                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Date </label>

                                    <!-- <input  id="invoiceDate" class="mt-2 invoiceCreation__date " /> -->

                                    <input type="date" class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="Note" aria-describedby="insert invoice Date" />

                                </div>
                            </div>



 
                                    <input class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="" />
 
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Account No</label>
 
                                    <input name="account_number" class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="" />
 
                                </div>
                                <!--div class="form-group">
                                    <label for="exampleFormControlFile1">Date </label>
 
                                    <!-- <input  id="invoiceDate" class="mt-2 invoiceCreation__date " />
 
                                    <input type="date" class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="Note" aria-describedby="insert invoice Date" />
 
                                </div-->
                            </div>
 
 

                        </div>
                        <div class="col-md-6">
                            <div class="pl-md-5">
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Notes</label>
                                    <textarea class="form-control" style="width: 100%;" name="" id="" rows="10" placeholder="Notes - any relevant information not covered, additional terms and conditions"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4"> <button type="submit" id="" class="btn btn-outline-primary">Create Invoice</button>
                                             
                    </div>

                </div>
    </form>
    </section>


 
                        <!--a href="invoice-preview.html"><button style="float: right;" type="button" id="" class="btn btn-primary text-right">Preview</button></a-->
                    </div>
 
                </div>
    </section>

    <footer class="containter-fluid bg-primary ">
        <div class="container py-5">
            <hr style="border: 1px solid #fff;" class="">
            <p class="text-white text-center"> <i class="fa fa-copyright
                "></i> 2020 Invato Inc </p>
        </div>
      
    </footer>


    </div>
    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> {% endcomment %}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js "></script>


 
    </footer>
 
 
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js "></script>

    <script>
        jQuery(document).ready(function() {
            jQuery().invoice({
                addRow: "#addRow",
                delete: ".delete",
                parentClass: ".item-row",

                price: ".price",
                qty: ".qty",
                total: ".total",
                totalQty: "#totalQty",

                subtotal: "#subtotal",
                discount: "#discount",
                grandTotal: "#grandTotal"
            });
        });
    </script>

    <script src="{% static 'js/invoice-gen-app.js' %}"></script>

    <script src="{% static 'js/main-nav.js' %}"></script>
    <script src="{% static 'js/invoice-gen-app.js' %}"></script>

</body>
 
</html>

