<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main-nav.css' %}">

</head>
<body>

    <!--  -->
    <header class="header ">
        <nav class="navbar navbar-expand-lg fixed-top py-3 ">
            <div class="container">
                <a href="#" class="navbar-brand deafult font-weight-bold"><img style="height: 40px;" src="{% static 'imgs/Group 124 (2).png' %}" alt=""></a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="{% url 'invator:homepage' %}" class="nav-link font-weight-bold">HOME <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a href="{% url 'invator:invoice' %}" class="nav-link font-weight-bold">INVOICE</a></li>
                        <li class="nav-item"><a href="{% url 'invator:dashboard' %}" class="nav-link  font-weight-bold">DASHBOARD</a></li>
                        <li class="nav-item"><a href="{% url 'invator:contact' %}" class="nav-link font-weight-bold">CONTACT</a></li>
                    </ul>
                    <div class="center">
                        <button type="button" class="btn btn-primary btn-md px-4 ml-4 mt-2">SIGN UP</button>

                    </div>

                </div>
            </div>
        </nav>
    </header>


    <!--  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js "></script>
    <script src="{% static 'js/main-nav.js' %}"></script>
</body>

</html>